<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- HTML_TITLE %></title>

    <meta property="og:url" content="<%- HTML_BASE_URL %>" />
    <meta property="og:title" content="<%- HTML_TITLE %>" />
    <meta property="og:description" content="<%- HTML_DESCRIPTION %>" />
    <meta property="og:image" content="<%- HTML_IMAGE %>" />
    <meta property="og:image:alt" content="<%- HTML_IMAGE_ALT %>" />
    <meta name="twitter:card" content="<%- HTML_TWITTER_CARD %>" />
    <meta name="twitter:site" content="<%- HTML_TWITTER_SITE %>" />
    <meta name="twitter:creator" content="<%- HTML_TWITTER_CREATOR %>" />

    <link href="/main.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
