:root {
  --root-size: 16px;

  --max-width: 50rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Common elements
 */

label {
  font-weight: bold;
}

textarea,
input,
button {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  display: block;
}

/*
 * Main navigation
 */

nav {
  width: 100%;
  max-width: var(--max-width);
  margin: 2rem auto;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/*
 * Main container
 */

main {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

/*
 * Current chapter
 */

/*
 * Leaderboard
 */
.leaderboard {
  width: 100%;
}
