*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --space-s: 1em;
  --space-m: 5em;
  --space-l: 10em;

  /* colors from https://www.happyhues.co/palettes/4 */
  --color-background: #16161a;
  --color-text: #d0d0ce;
  --color-destruction: #fe5000;
  --color-hope: #00bb31;
}

@font-face {
  font-family: "Blackout 2 AM";
  src: url("assets/fonts/blackout_two_am-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/blackout_two_am-webfont.woff") format("woff"),
    url("assets/fonts/blackout_two_am-webfont.ttf") format("truetype"),
    url("assets/fonts/blackout_two_am-webfont.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}

html {
  width: 100%;
  height: 100%;
}

html,
input,
textarea,
select,
button {
  font-family: monospace;
}

body {
  width: inherit;
  height: inherit;
  margin: 0;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  transform: rotate(3deg);
  font-family: "Blackout 2 AM";
  font-weight: 500;
  color: var(--color-destruction);
}

h1 {
  font-size: 2em;
}

p {
  line-height: 1.5;
}
